#slider-wrapper img {
    width: 100%;
    height: 400px;
}

#services-wrapper h2 {
    text-align: center;
    margin-top: 60px;
}


    #services-wrapper .head-title {
        text-align: center;
        padding-left: 200px;
        padding-right: 200px;
    }



#contact-wrapper {
    margin-top: 70px;
    margin-bottom: 70px;
}

#footer-wrapper {
    background-color: rgb(54, 54, 54);
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-img img {
    width: 100%;
    height: 300px;
}
#services-wrapper .head-title-p {
    padding-bottom: 200px !important;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;

}