{% extends "base.html" %}
{% block body %}
{% load static %}
   <section id="services-wrapper">
    <div class="about-img">
    <img src="{% static "images/s1.png" %}" class="img-fluid" alt="img"> 
  </div>
    <div class="container">
      <h2>About us</h2>
      <p class="head-title-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore delectus alias perspiciatis debitis maiores? Autem, eveniet, eligendi, omnis perspiciatis quo sunt minima nisi iusto ipsum similique sequi asperiores ipsam beatae.
      </p>
      
    </div>
   </section>
{% endblock body %}



  