<!doctype html>
  <head>
     <link rel="stylesheet" href="css/mainstyle.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Blog web templates</title>
  </head>
  <body>

    <section id="navbar-wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
             
            </ul>
           
          </div>
        </div>
      </nav>
    </section>
  
   <section id="services-wrapper">
    <div class="about-img">
    <img src="images/s1.png" class="img-fluid" alt="img"> 
  </div>
    <div class="container">
      <h2>Contact us</h2>
     
      
    </div>
   </section>


   <section id="contact-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="images/s1.png" class="img-fluid">
        </div>
        <div class="col-md-6">
        <form>
           <h5>Get in touch</h5>

           <div class="row">
            <div class="col-6 mb-3">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
            </div>
            <div class="col-6 mb-3">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
            </div>
            <div class="col-6 mb-3">
              <input type="text" class="form-control" placeholder="Location" aria-label="Last name" required>
            </div>
            <div class="col-6 mb-3">
              <input type="email" class="form-control" placeholder="Enter you email" aria-label="Last name" required>
            </div>
            <div class="col-12 mb-3">
              <textarea class="form-control" id="validationTextarea" placeholder="Enter you messages" required></textarea>

            </div>
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        </div>
      </div>

      </div>
    </section>


    <section id="footer-wrapper">
      <div class="container">
        <h4>Footer area</h4>
      </div>
    </section>



   <script src="js/bootstrap.min.js"></script>
  </body>
</html>